header {
    background-color: #333;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
}

header #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1240px;
    height: 80px;
    margin: 0 auto;
    padding: 0 2rem;
}

nav .nav-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .nav-brand h1 {
    font-family: 'Grenze', serif;
    font-weight: 400;
    font-size: 2rem;
}

nav .nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;

    list-style: none;
}

nav .nav-list li a {
    color: white;
    font-size: 1.1rem;
    
    transition: .4s;
}

nav .nav-list li a:hover {
    color: orange;
}